# Ignore all files created by TexStudio for building the document
*.dvi
*.lot
*.bit
*.blg
*.fdb_latexmk
*.fls
*.nav
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.brg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lox
*.out
*.pdfsync
*.run.xml
*.synctex.gz
*.toc
GitIgnored
